.sliding_img {
    float: left;
    padding: 200px 0px 0px 0px;
}
.img {
    padding: 6px 6px 6px 6px;
    background: #faf8f9;
    border-radius: 52px;
    margin-top: 15px;
    filter: grayscale(25%) opacity(25%);
}
.img:hover {
    padding: 12px 12px 12px 12px;
    background-color: white;
    border-radius: 52px;
    border: grey;
    transition: 0.5s ease;
    filter: blur(0);
}
.main_page {
    margin: 0 auto;
    display: flex;
}
.main_info {
    margin: 0 auto;
    padding: 170px 100px;
}
.start_info{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e34c48;
}
.a {
    font-family: var(--font-family);
}
.start_info_h2 {
    font-family: var(--font-family);
    white-space: pre-line;
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;
    fill: #2c2c2c;
}
:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
  }