
.second_background {
    padding: 119px 0px;
    display: flex;
    flex-flow: column wrap;
}
.page2_items {
    display: flex;
    margin: 40px 150px 100px 150px; 

}
.page2_item {
    border-radius: 15px;
    border: solid 1px rgba(128, 128, 128, 0.1);
    position: relative; 
    margin-left: 30.02px;
    padding-bottom: 20px;
}
.page2_item svg {
    padding-left: 40px;
    padding-top: 40px;
}
