.six_background * {
    box-sizing: border-box;
}
.swiper-wrapper {
    align-items: center;
    margin: 0 auto;
    width: 1500px;
}
.swiper-slide {
    filter: grayscale(25%) opacity(25%);
}

.swiper-slide-active {
    filter: blur(0);
    margin-bottom: 250px;

}

.six_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.mySwiper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
   
}
.swider_text h2 {
    margin: 0 auto;
    text-align: center;
}
.swider_text p {
    margin: 0 auto;
    
}
.swiper-3d .swiper-slide-shadow-left {
    background-image:none;
}
.swiper-3d .swiper-slide-shadow-right {
    background-image:none;
}
.swiper-slide-active section{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-bottom: 100px;
}
.swider_text {
    display: none;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.swiper_img {
    border-radius: 100%;
    padding: 2px;
    border: solid 1px rgba(128, 128, 128, 0.1);
    overflow: hidden;
}

.swiper-wrapper div {
    margin-bottom: 60px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.none_conteiner {
    display: none;
}
.container {
    align-items: center;
    margin: 0 auto;
    width: auto;
    height: auto;
}
.swiper-pagination {
    position: relative;
    background: transparent;
    width: 9px;
    height: 9px;
    z-index: 0;
}
.swiper-pagination-bullet {
    position: relative;
    background: #fff;
    border: solid 1px red;
    width: 15px;
    height: 15px;
    z-index: 0;
}
.swiper-pagination-bullet:hover {
    position: relative;
    border: solid 3px red;
    z-index: 0;
}