

.info_containt h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #2c2c2c;
}

.info_containt p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e34c48;
}

h1 {
    font: 700 45px Montserrat sans-serif;
}
a,p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #2c2c2c;
    white-space: pre-line;
}

.info_containt h1 {
    font-family: var(--font-family);
    white-space: pre-line;
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;
    fill: #2c2c2c;
}

.second_zagolovok {
    font-family: var(--font-family);
    white-space: pre-line;
    font-weight: bold;
    text-align: center;
    font-size: 46px;
    text-transform: capitalize;
    fill: #2c2c2c;
    margin: 0 auto;
}

.second_text {
    font: 300 16px var(--second-family);
    white-space: pre-line;
    text-align: center;
    color: #4b4b4b;
    margin: 0 auto;
    padding-top: 20px;
}

.page2_item p {
    font: 300 16px var(--second-family);
    padding: 0px 40px 0px 42px;
    margin: 0;
}

.page2_item h2 {
    font: 700 22px var(--font-family);
    text-transform: capitalizFe;
    color: #2c2c2c;
    padding: 0px 40px 0px 42px;

}
.page5_main_info h1 {
    font: 700 45px Montserrat, sans-serif;
    white-space: pre-line;
    color: #2c2c2c;
}
.page5_main_info p {
    font: 300 16px Poppins, sans-serif;
    white-space: pre-line;
    color: #4B4B4B;
}
.page3_text {
    margin: 0;
    font: 300 16px Poppins, sans-serif;
    white-space: pre-line;
    color: #4B4B4B;

}
.page3_main_info h1 {
    font: 700 45px Montserrat, sans-serif;
    white-space: pre-line;
    color: #2c2c2c;
}

.galochka_item {
    font: 300 16px var(--second-family);
    color: #2c2c2c;
}

.service-feature-center-description {
    color: #4b4b4b;
    font: 300 16px Poppins, sans-serif;
    margin: 16px;
}

@media (max-width: 991px) {
    .service-feature-center-description {
        max-width: 100%;
    }
}

.service-feature-item-right-description {
    color: #4b4b4b;
    align-self: start;
    margin-top: 23px;
    font: 300 16px Poppins, sans-serif;
}

.service-feature-item-title {
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
    align-self: end;
}

.service-feature-item-description {
    color: #4b4b4b;
    margin-top: 23px;
    font: 300 16px Poppins, sans-serif;
}


:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
}