.third_background {
    display: flex;
    
}

.galochka_items {
    display: flex;
}

.galochka_item {
    display: flex;
    padding: 7px;

}

.page3-contact-us-button {
    font-family: var(--font-family);
    background-color: #ff4d4d; /* Красный цвет */
    color: #fff; /* Белый цвет */
    padding: 10px 20px; /* Отступ внутри кнопки */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указать курсор */
    margin: -3px;
}

.page3-contact-us-button:hover {
    transition: 0.5s ease;
    width: 120px;
    height: 45px;
    background-color: #d93939; /* Темно-красный цвет при наведении */
}

.main_page3_page {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
}
.page3_main_info {
    margin: 0 auto;
    padding: 40px 40px;
}

._watch {
    margin: 0 auto;
    padding: 40px 100px;
}

.page3_text {
    white-space: pre-line;
    color: #4B4B4B;
}