.sliding_img {
    float: left;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 200px 0px 0px 50px;
}
.img {
    padding: 6px 6px 6px 6px;
    background: #faf8f9;
    border-radius: 52px;
    margin-top: 15px;
    filter: grayscale(25%) opacity(25%);
}
.img:hover {
    padding: 12px 12px 12px 12px;
    background-color: white;
    border-radius: 52px;
    border: grey;
    transition: all 0.5s ease-in-out;
    filter: blur(0);
}
.main_page {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.main_info {
    margin: 0 auto;
    padding: 170px 40px;
}
.slider_watch{
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 1260px) {
    .main_info {
        
    }
}
@media (max-width: 724px) {
    .sliding_img {
        flex-direction: row;
        padding:  0px 30%;
    }
}
