.sliding_img {

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 200px 0px 0px 50px;
}
.button_slider {
    padding: 6px 6px 6px 6px;
    background: #faf8f9;
    border-radius: 52px;
    transition: 0.6s all ease;
    margin: 15px 0px 0px 10px;
    filter: grayscale(25%) opacity(25%);
}
.button_slider:hover {
    padding: 12px 12px 12px 12px;
    background-color: white;
    border-radius: 52px;
    border: grey;
    transition: all 0.5s ease-in-out;
    filter: blur(0);
}
.main_page {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.main_info {
    margin: 0 auto;
    padding: 170px 40px;
}
.slider_watch{
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 760px) {
    .sliding_img {
        flex-direction: row;
        padding:  0px 25%;
    }
}
