
.second_background {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 40px;
}

.page2_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.page2_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 15px;
    border: solid 1px rgba(128, 128, 128, 0.1);
    position: relative;
    padding-bottom: 20px;
    width: 430px;
    height: 284px;
    margin: 0 auto;
}
.page2_main_text {
    align-items: center;
    margin: 0;
}
.page2_item svg {
    padding: 40px;
}
